# ======================================
# Python
# ======================================

.venv/
venv/

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.coverage
htmlcov/

build/
dist/
*.egg-info/

.ipynb_checkpoints/

# ======================================
# Environment
# ======================================

.env
backend/.env
frontend/.env

!.env.example
!backend/.env.example
!frontend/.env.example

# ======================================
# IDE
# ======================================

.vscode/
.idea/

# ======================================
# Operating System
# ======================================

.DS_Store
Thumbs.db

# ======================================
# Logs
# ======================================

*.log

# ======================================
# Docker
# ======================================

*.pid